# requirements.txt
gsheetsdb==x.x.x
streamlit==1.16.0
sqldf
pyodbc
statistics
pandas
numpy
streamlit_option_menu
python-time
pip==22.3.1
streamlit-authenticator
stauth
streamlit-authenticator==0.1.5
pip>=6.0
lxml>=3.3.4
pytest
pillow
tox
